@use '../../../styles/sizes';
@use '../../../styles/colors';

@mixin _input-container($vertical-padding, $horizontal-padding) {
	border: 1px solid #333;
	border-radius: 5px;
	background: #1A1A1A;
	padding: #{$vertical-padding} #{$horizontal-padding};
}

.tuna-input {
	display: inline-flex;
	align-items: center;
	@include _input-container(0, #{nth(sizes.$fib, 5)}px);

	&--active {
		border-color: #555;
		background: #1B1B1B;
	}

	&--invalid {
		border-color: #C85049;
	}

	&__input {
		padding: 0;
		margin: 0;
		background: none;
		border: none;
		color: white;
		outline: none;
		height: 1.6em;
		line-height: 1.6em;
		font: {
			weight: 500;
		};
		font-family: 'Fira Code';

		&--hex {
			width: 7ch;
		}
	}

	&__color-input-wrapper {
		border-radius: 2px;
		overflow: hidden;
		margin-right: #{nth(sizes.$fib, 5)}px;

		input {
			width: 1em;
			height: 1em;
			padding: 0;
			margin: 0;
			overflow: hidden;
			border: none;
			opacity: 0;
			display: block;
		}
	}

	&__select {
		background: none;
		outline: none;
		border: none;
		margin: 0;
		padding: 0;
		height: 1.6em;
		color: white;
		font-family: 'Fira Code';
		font-weight: 500;
		text-align: left;
		vertical-align: top;
		line-height: 1.6em;
		appearance: none;

		&:after {
			content: '>';
		}
	}
}

.tuna-button {
	border: none;
	padding: #{sizes.$fib--5}px #{sizes.$fib--13}px;
	font-weight: 500;

	&--rebeccapurple {
		background: rebeccapurple;
		color: #FFFFFFCC;
		box-shadow: 2px 2px #66339966;

		&:focus {
			color: #FFFFFF;
			background: #742EB9;
		}
	}

	&:focus {
		box-shadow: 2px 2px #66339933;
		outline: none;
	}
}

.pic-radio-group {
	display: flex;

	&__item {
		margin: 0 #{sizes.$fib--8}px;
		@include _input-container(#{nth(sizes.$fib, 3)}px, #{nth(sizes.$fib, 3)}px);

		&--selected {
			border-color: #FFEE00;
		}
	}

	& &__item:first-child {
		margin-left: 0;
	}

	& &__item:last-child {
		margin-right: 0;
	}

	&__item-label {
		display: block;

		color: white;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.5rem;
		margin-top: #{sizes.$fib--3}px;
	}
}
