@use '../../styles/sizes';

.struct-element {

	&__level-button {
		border: none;
		padding: 0;
		background: transparent;
		width: 1em;
		margin-right: #{nth(sizes.$fib, 3)}px;
		cursor: pointer;
	}

	&__header {
		background: #464646;
		border-radius: 3px;
		padding: #{nth(sizes.$fib, 3)}px;
		margin-bottom: #{nth(sizes.$fib, 3)}px;
		cursor: pointer;
		display: flex;
	}

	&__children {
		padding-left: #{nth(sizes.$fib, 7)}px;

		&--collapsed {
			display: none;
		}
	}

	margin-bottom: #{nth(sizes.$fib, 3)}px;
}

.tag {
	font-weight: 500;

	&__brace {
		color: #4D5CBA;
	}

	&__name {
		color: #C99C61;
		text-transform: lowercase;
	}
}
