/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

html {
  height: 100%;
  font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Fira Code VF', monospace; }
}

body {
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
